{% extends 'base2.html' %}
{% block content %}


<div class="camera">
  {% load static %}
  <img src="{% static 'account/media/captured/captured_image.jpg' %}" width="500" height="350">
  

</div>


<div class="row1">
	<div class="column1">
  <a href="{% url 'capture_view' %}">

  <button class="button1">
      <h2> Retake</h2>
  </button>
</a>

</div>

  <div class="column2">
  <a href="{% url 'process_image' %}">
  <button class="button2">
      <h2> Continue</h2>

  </button>
</div>

</div>



{% endblock content %}